
<!DOCTYPE suite SYSTEM "src">


<suite name="Starbucks Automation Suite" parallel="methods" thread-count="1">

    <test name="Homepage Tests">
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>
    
    <test name="Add to Cart Tests">
        <classes>
            <class name="tests.TC003AddToCart"/>
        </classes>
    </test>


</suite>